<div class="page-header container-fluid">
  <div class="row">
    <div class="col-md-2 hidden-sm-down ">
      {% img word-cloud.png %}
    </div>
    <div class="col-md-6 col-sm-12">
        <a class="header-title" href="{{ "/" | relative_url }}">
          BRASSFIELD ROAD<br>
         ELEMENTARY SCHOOL PTA 
        </a>
    </div>
    <div class="col-md-4">
        <form action="{{ "/pages/search.html" | relative_url }}" method="get" class="form-inline my-2 mymd-0">
          <input name="q" id="search-box" class="form control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-default my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
  </div>
</div>
{% include header.top-nav.html %}
