<div class="events">

{% if page.title != "Class Mandate" %}
<h5><a href="{{ "/pages/class-size-chaos.html" | relative_url }}">What is the class size mandate?</a></h5>
<p>The maximum individual K-3 class sizes will drop from 24 students to:  K: 18, 1st: 16, and 2nd: 17 students.  For a year round school like ours, imagine pulling 2 students from the K class as they graduate to 1st and then adding one back when they rise to 2nd.  Children need some stability and consistency.  Pulling one or two kids from a track and switching them year to year and possibly from track to track will have broad reaching implications for families with older siblings.</p>
{% endif %}


<h4>Events</h4>
<a href="http://www.signupgenius.com/go/5080b4ea9af2eabf58-school"><h5>School Wide Volunteer Opportunities</h5></a>

<p>We have many volunteer opportunities throughout the school year, and we welcome all help even if it's 1 hour, 1 day, once a month or once a year!  Every little bit helps further our goal to improve the kids experiences at school and their educational opportunities.  Next week, we'll be sending out a link and information regarding our PTA positions that are still open.  Please click the heading to access volunteer opportunities available throughout the coming year, and we appreciate your service!</p>
<p class="signed">-&nbsp;Brassfield PTA</p>

<a href="http://www.signupgenius.com/go/20F0A4CACAA2AA5F49-teacher1"><h4>Track 3 Teacher/Staff Luncheon</h4></a>
<p>
<a href="http://www.signupgenius.com/go/20F0A4CACAA2AA5F49-teacher1">Friday, Sep 29.</a>There are several items that are still available to sign up for, but please concentrate on the entrees and sides.  Click the heading for more information. Thank you so much to those of you that have already signed up to contribute to our feast!
</p>
<p class="signed">-&nbsp;Julie Karg (jkarg17@yahoo.com)</p>

<a href="http://www.signupgenius.com/go/20F0A4CACAA2AA5F49-cafeteria"><h4>Cafeteria and Custodian Appreciation Week</h4></a>

<p>
Cafeteria and Custodian Appreciation Week is coming up October 2-6. Let's show our hard working Cafeteria and Custodial staff how much they are appreciated all year long and especially that week. Please consider having your child bring in a token of appreciation for the staff. Please click the heading link for more details.
</p>


<h4>Learning Commons Volunteers</h4>

<p><i>Thursday, 10/5, 9:15am-11:15am.</i> Our Brassfield Learning Commons (Library Media Center) <b>needs volunteers!</b> You are invited to come to our Brassfield Learning Commons Volunteer Training Parties to find out ways you may help. To help our students and staff locate books they want in to our collection, we need volunteers to <i>shelve books</i>, <i>create book displays</i> to highlight interesting books, <i>organize the books</i> on our shelves, <i>process new books</i>, <i>repair books</i>, and more. Please sign up to help in our Brassfield Learning Commons!
</p>

	<ul style="font-size: 12px; padding-left: 30px">
		<li><a href="https://memberhub.com/HSR14496I6763">MemberHub</a></li>
		<li><a href="http://www.signupgenius.com/go/10c0e4eaba92ba4fa7-brassfield">SignUpGenius <i class="fa fa-lightbulb-o"></i></a></li>
	</ul>

