@import 'bootstrap/variables';
$brassfield-blue: rgb(12,15,49);
$brassfield-blue-color: rgba($brassfield-blue,1);

$navbar-light-color:                rgba($white,.9);
$navbar-light-hover-color:          rgba($white,1);
$navbar-light-active-color:         rgba($white,.9);
$navbar-light-disabled-color:       rgba($white,.5);
@import 'bootstrap';
@import "minima";
@import "pta";
