.page-header {
    // background-color: $red;
    color: $brassfield-blue-color;
    margin-top: 5px;
    margin-bottom: 5px;
}

.page-header img {
   max-width: 132px;
   max-height: 89px;
}


a.header-title {
    font-size: 28px;
    font-family: Times New Roman;
    &,
    &:visited,
    &:hover, {
        color: $brassfield-blue-color;
    }

}

nav.navbar 
{ 
    background-color: $brassfield-blue-color !important;
}
.navbar-light .navbar-toggler {
    border-color: rgba(255,255,255,.3);
}

.navbar-light .navbar-toggler-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
     
.right-column {
    h5 {
        margin-bottom: 5px;
    }
    hr {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .tags {
        margin-bottom: 3px;
    }
}

.archives {
    list-style: none;
}

.bear-cloud {
    float: right;
    img {
        width: 350px;
        height: 350px;
    }
}

.letter {
    & .signature {
    }
    & .greeting {
    }
    & .indent {
        text-indent: 3em;
    }
}

p {
    padding-left: 10px;
    color: $brassfield-blue-color;
}

.events > p {
    font-size: 12px;
}

.events .signed {

    padding-left: 20px;
}

.class-size-chaos {
    font-size: 13px;
}
