---
layout: default
---

<div class="month-archive">

  <h1 class="page-heading">Posts from {{ page.date | date: "%B %Y" }}</h1>
  
  <ul class="post-list">
    {% for post in page.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-date">{{ post.date | date: date_format }}</span>

        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
      </li>
    {% endfor %}
  </ul>

</div>
